<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656800699509-1fga5q8ngnrpiof9qb4qmjtbh1ct7120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656800699509-1fga5q8ngnrpiof9qb4qmjtbh1ct7120</string>
	<key>API_KEY</key>
	<string>AIzaSyCtSEEoMYm7bEDZMLAxBRqebjthPt7LAwc</string>
	<key>GCM_SENDER_ID</key>
	<string>656800699509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoPratice</string>
	<key>PROJECT_ID</key>
	<string>todostart-a2ee7</string>
	<key>STORAGE_BUCKET</key>
	<string>todostart-a2ee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656800699509:ios:aa98fea9ff4527ecd5943c</string>
</dict>
</plist>